/* Colors */

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}   

/* Reset */

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Main CSS */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Flex to header */

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display:flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
    
}

/* Header */

.header {
    background-color: var(--white);
    border-bottom: 1px solid #e7e9fc;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--iris);
    margin-right: 76px;
}

.nav-logo-2 {
    font-family: "Roboto", sans-serif;
    color: var(--navy-blue);
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
}

.address {
    font-style: normal;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus {
    color: var(--ocean);
}

/* Hero */

.hero {
    background-color: var(--navy-blue);
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    max-width: 496px;
    margin: 0 auto 48px;
}

.button {
    font-family: "Roboto", sans-serif;
    background-color: var(--iris);
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
    background-color: var(--ocean);
}

/* Section Our Futures */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.futures-title {
    margin-bottom: 8px;
}

.futures-list-section {
    padding: 120px 0;
}

.futures-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.list-items {
    list-style-type: none;
    width: calc((100% - 72px) / 4);
    display: block;
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* Section our Team */

.section-team {
    background-color: var(--cloud);
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-information {
    padding: 32px 0;
}

.team-list-items {
    list-style-type: none;
    background-color: var(--white);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08)
}

.team-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}

.team-photo {
    display: block;
    margin: auto;
}

/* Our Portfolio */

.portfolio-section {
    padding: 120px 0;
}

.second-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-items {
    width: calc((100% - 48px) / 3);
}

.portfolio-images {
    display: block;
    max-width: 100%;
}

.portfolio-information {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* Footer */

.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--iris);
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color:var(--cloud);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    max-width: 264px;
}